/* ------------------------------------------------------------------------
	This you can edit.
------------------------------------------------------------------------- */
	
	div.default.pp_pic_holder {
		background: rgba(0,0,0,0.5);
		box-shadow: 0px 0px 3px #000;
		-webkit-box-shadow: 0px 0px 3px #000;
		-moz-box-shadow: 0px 0px 3px #000;
		border-radius: 10px;
		-moz-border-radius: 10px;
		border-top: 1px #444 solid;
		border-bottom: 1px #111 solid;
	}
	
	div.default .pp_expand { background: url(../images/prettyPhoto/default/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.default .pp_expand:hover { background: url(../images/prettyPhoto/default/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.default .pp_contract { background: url(../images/prettyPhoto/default/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.default .pp_contract:hover { background: url(../images/prettyPhoto/default/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.default .pp_close { width: 22px; height: 22px; background: url(../images/prettyPhoto/default/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.default #pp_media .pp_inline { color: #000; } 
	div.default .pp_loaderIcon { background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat; } /* Loader icon */

	div.default .pp_nav { margin-top: 0; }
	div.default .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }
	div.default .pp_nav .pp_previous { background: url(../images/prettyPhoto/default/sprite.png) -22px 0 no-repeat; height: 25px; width: 21px; }
	div.default .pp_nav .pp_next { background: url(../images/prettyPhoto/default/sprite.png) -98px 0 no-repeat; height: 25px; width: 21px; }
	div.default .pp_nav .pp_play { background: url(../images/prettyPhoto/default/sprite.png) -62px 0 no-repeat; height: 25px; width: 18px; }
	div.default .pp_nav .pp_pause { background: url(../images/prettyPhoto/default/sprite.png) -123px 0 no-repeat; height: 25px; width: 16px; }


/* ------------------------------------------------------------------------
	DO NOT CHANGE
------------------------------------------------------------------------- */

	div.pp_pic_holder a:focus {
		outline:none;
	}

	div.pp_overlay {
		background: #000;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9500;
	}
	
	div.pp_pic_holder {
		display: none;
		position: absolute;
		z-index: 10000;
	}
		
		.pp_content {
			height: 40px;
			padding: 10px;
			opacity: 0;
			overflow: hidden;
			width:40px;
		}
		* html .pp_content { width: 40px; }
		
		.pp_controls {
			bottom: 20px;
			color: #fff;
			font-size: 12px;
			position: absolute;
			margin-left: -10px;
			text-align: center;
			text-shadow: 0px -1px 0px #000;
			width: 100%;
			z-index: 2;
		}
		
			.pp_controls .pp_controls_container {
				background: #222;
				background: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0,0,0,0.7)), to(rgba(79,79,79,0.7))) 0% 22px;
				background: -moz-linear-gradient(top, rgba(10,10,10,0.6) 0%, rgba(0,0,0,0.6) 100%);
				border-radius: 10px;
				-moz-border-radius: 10px;
				border-top: 1px #565656 solid;
				border-bottom: 1px #1a1a1a solid;
				box-shadow: 0px 0px 3px #000;
				-webkit-box-shadow: 0px 0px 3px #000;
				-moz-box-shadow: 0px 0px 3px #000;
				padding: 10px;
				margin: 0 50px;
			}
		
			.pp_controls .pp_description {
				clear: both;
				margin: 10px 0 0 0;
			}
				
				.pp_nav {
					clear: left;
					height: 25px;
					margin: 0 auto 0 auto;
					text-align: center;
					width: 100px;
				}
				
					.pp_nav p {
						float: left;
						margin: 10px;
					}
					
					.pp_nav .pp_play,
					.pp_nav .pp_pause {
						float: left;
						margin: 0 19px 0 21px;
						text-indent: -10000px;
					}
				
					.pp_nav a.pp_previous,
					.pp_nav a.pp_next {
						display: block;
						float: left;
						overflow: hidden;
						text-indent: -10000px;
					}
		
		.pp_gallery {
			left: 50%;
			margin-top: -50px;
			position: absolute;
			z-index: 10000;
		}
			
			.pp_gallery ul {
				float: left;
				height: 35px;
				margin: 0 0 0 5px;
				overflow: hidden;
				padding: 0;
				position: relative;
			}
			
			.pp_gallery ul a {
				border: 1px #000 solid;
				border: 1px rgba(0,0,0,0.5) solid;
				display: block;
				float: left;
				height: 33px;
				overflow: hidden;
			}
			
			.pp_gallery ul a:hover,
			.pp_gallery li.selected a { border-color: #fff; }
			
			.pp_gallery ul a img { border: 0; }
			
			.pp_gallery li {
				display: block;
				float: left;
				margin: 0 5px 0 0;
				padding: 0;
			}
			
			.pp_gallery li.default a {
				background: url(../images/prettyPhoto/default/default_thumbnail.gif) 0 0 no-repeat;
				display: block;
				height: 33px;
				width: 50px;
			}
			
			.pp_gallery li.default a img { display: none; }
			
			.pp_gallery .pp_arrow_previous,
			.pp_gallery .pp_arrow_next {
				margin-top: 7px !important;
			}
		
		a.pp_expand,
		a.pp_contract {
			cursor: pointer;
			display: none;
			height: 20px;	
			position: absolute;
			right: 30px;
			text-indent: -10000px;
			top: 10px;
			width: 20px;
			z-index: 20000;
		}
			
		a.pp_close {
			display: block;
			float: right;
			line-height:22px;
			text-indent: -10000px;
		}
		
		.pp_loaderIcon {
			display: block;
			height: 24px;
			left: 50%;
			margin: -12px 0 0 -12px;
			position: absolute;
			top: 50%;
			width: 24px;
		}
		
		#pp_media {
			line-height: 1 !important;
		}
		
			#pp_media .pp_inline {
				text-align: left;
			}
			
				#pp_media .pp_inline p { margin: 0 0 15px 0; }
	
		div.ppt {
			background: -webkit-gradient(linear, 0 0%, 0 100%, from(rgba(0,0,0,0.2)), to(rgba(79,79,79,0.2))) 0% 14px;
			background: -moz-linear-gradient(top, rgba(10,10,10,0.6) 0%, rgba(0,0,0,0.6) 100%);
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			color: #fff;
			display: none;
			font-size: 14px;
			margin: -10px -10px 0 -10px;
			padding: 5px 0 5px 0;
			text-indent: 10px;
			text-shadow: 0px -1px 0px #000;
		}

/* ------------------------------------------------------------------------
	Miscellaneous
------------------------------------------------------------------------- */

	.clearfix:after {
	    content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}

	.clearfix {display: inline-block;}

	/* Hides from IE-mac \*/
	* html .clearfix {height: 1%;}
	.clearfix {display: block;}
	/* End hide from IE-mac */